:root {
    --white: #fff;
    --header: #4b01d1;
    --font-color-base: #898989;
    --font-color-light: var(--white);
    --textarea: #e8e8e8;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    
}
i {  font-size:large;}
.glyphicon { font-size: large;}
.article {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*to keep content centered */
    margin-left: auto;
    margin-right: auto;
}
article { color: var(--font-color-base); }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

           