:root {
    --white: #fff;
    --header: #4b01d1;
    --font-color-base: #898989;
    --font-color-light: var(--white);
    --textarea: #e8e8e8;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*to keep content centered */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .container { max-width: 1140px;}
}